html * {}

body {
    font-size: 1em !important;
    font-family: futura-pt, sans-serif !important;
    background-color: #f8f7f9;
}

input[type=text],
select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.active {
    color: #28bb78;
}

.nav-title {
    font-weight: 600;
    font-size: 18px;
}

.sidebar {
    background-color: #F46D1B;
    color: #FFFFFF;
    min-height: 100vh;
    width: 310px;
}

.sidebar-mobile {
    background-color: #F46D1B;
    color: #FFFFFF;
    min-height: 100vh;
    display: none;
}

.sidebar-toggle {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px !important;
    margin-left: -15px;
}

.sidebar-toggle:hover{
    background-color: antiquewhite;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px !important;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    cursor: pointer;
}

.closebtn:hover {
    color: #f1f1f1;
}



.topics {
    box-shadow: inset 0 -1px 0 0 #f5f6f9;
    padding: 15px 27px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}

.banner {
    background-color: antiquewhite;
    height: 130px;
}

.sidebar-content {
    margin-top: 80px;
}


.ques-block {
    padding: 1rem;
    cursor: pointer;
}

.ques-title:hover {
    color: #28bb78 !important;
}

.ques-result {
    font-size: 15px;
}

.ques-index {
    padding-right: .5rem;
}

.no-result-msg {
    font-weight: 400;
    background: none;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-width:768px) {
    .sidebar{
        display: none;
    }
    .sidebar-mobile {
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        display: block;
    }
    .sidebar-close{
        width: 0px !important;
    }

    input[type=text],
    select {
        width: 70%;
    }
}